#                                                 Assignment 05

# Task 1

Load the given datasets into Pandas DataFrames. Inspect the datasets and perform the
following:
• Display the first few rows of each dataset.
• Show the total number of rows and columns.
• Check for missing values in each dataset and handle them appropriately.

In [6]:
import pandas as pd

customers_df = pd.read_csv('C:\\Users\\LENOVO\\Desktop\\AI\\customers.csv')
sales_df = pd.read_csv('C:\\Users\\LENOVO\\Desktop\\AI\\sales.csv')



print(customers_df.head())
print(sales_df.head())


print(customers_df.shape)
print(sales_df.shape)


print(customers_df.isnull().sum())
print(sales_df.isnull().sum())

customers_df = customers_df.dropna() 
sales_df = sales_df.dropna()

   CustomerID  Age         City
0           1   22     New York
1           2   23  Los Angeles
2           3   24      Chicago
3           4   25      Houston
4           5   26      Phoenix
   SaleID  CustomerID     Product  Amount
0     101           1      Laptop     200
1     102           2  Smartphone     500
2     103           3      Tablet     800
3     104           4  Headphones    1100
4     105           5     Monitor    1400
(100, 3)
(400, 4)
CustomerID    0
Age           0
City          0
dtype: int64
SaleID        0
CustomerID    0
Product       0
Amount        0
dtype: int64

# Task 2

Using the customers.csv file, convert its data into a Python dictionary. Use the dictionary to
filter customers from a specific city. Repeat the operation using a DataFrame and compare
the efficiency of both approaches.

In [7]:
customers_dict = customers_df.to_dict(orient='records')

city = 'New York'  
cust_dict = [customer for customer in customers_dict if customer['City'] == city]
print(cust_dict)
cust_df = customers_df[customers_df['City'] == city]
print(cust_df)
import time

start = time.time()
cust_dict = [customer for customer in customers_dict if customer['City'] == city]
end = time.time()
print(f"Dictionary method took {end - start} seconds")

start = time.time()
cust_df = customers_df[customers_df['City'] == city]
end = time.time()
print(f"DataFrame method took {end - start} seconds")

[{'CustomerID': 1, 'Age': 22, 'City': 'New York'}, {'CustomerID': 6, 'Age': 27, 'City': 'New York'}, {'CustomerID': 11, 'Age': 32, 'City': 'New York'}, {'CustomerID': 16, 'Age': 37, 'City': 'New York'}, {'CustomerID': 21, 'Age': 42, 'City': 'New York'}, {'CustomerID': 26, 'Age': 47, 'City': 'New York'}, {'CustomerID': 31, 'Age': 22, 'City': 'New York'}, {'CustomerID': 36, 'Age': 27, 'City': 'New York'}, {'CustomerID': 41, 'Age': 32, 'City': 'New York'}, {'CustomerID': 46, 'Age': 37, 'City': 'New York'}, {'CustomerID': 51, 'Age': 42, 'City': 'New York'}, {'CustomerID': 56, 'Age': 47, 'City': 'New York'}, {'CustomerID': 61, 'Age': 22, 'City': 'New York'}, {'CustomerID': 66, 'Age': 27, 'City': 'New York'}, {'CustomerID': 71, 'Age': 32, 'City': 'New York'}, {'CustomerID': 76, 'Age': 37, 'City': 'New York'}, {'CustomerID': 81, 'Age': 42, 'City': 'New York'}, {'CustomerID': 86, 'Age': 47, 'City': 'New York'}, {'CustomerID': 91, 'Age': 22, 'City': 'New York'}, {'CustomerID': 96, 'Age': 27, 'City': 'New York'}]
    CustomerID  Age      City
0            1   22  New York
5            6   27  New York
10          11   32  New York
15          16   37  New York
20          21   42  New York
25          26   47  New York
30          31   22  New York
35          36   27  New York
40          41   32  New York
45          46   37  New York
50          51   42  New York
55          56   47  New York
60          61   22  New York
65          66   27  New York
70          71   32  New York
75          76   37  New York
80          81   42  New York
85          86   47  New York
90          91   22  New York
95          96   27  New York
Dictionary method took 0.0 seconds
DataFrame method took 0.0009984970092773438 seconds

# Task 3

Identify duplicate rows, if any, in the datasets. Remove these duplicates to ensure clean data.
After cleaning, verify that there are no duplicates left.

In [9]:
print(customers_df.duplicated().sum())
print(sales_df.duplicated().sum())


customers_df = customers_df.drop_duplicates()
sales_df = sales_df.drop_duplicates()
print(customers_df.duplicated().sum())
print(sales_df.duplicated().sum())

0
0
0
0

# Task 4

Create a new column in the sales.csv data that reflects the total amount after applying a
10% discount on the Amount column. Group the data by Product and calculate the total sales
for each product. Present the results in a well-structured format.

In [10]:
sales_df['DiscountedAmount'] = sales_df['Amount'] * 0.9
total_sales_by_product = sales_df.groupby('Product')['DiscountedAmount'].sum().reset_index()
print(total_sales_by_product)

      Product  DiscountedAmount
0  Headphones           79200.0
1      Laptop           14400.0
2     Monitor          100800.0
3  Smartphone           36000.0
4      Tablet           57600.0

# Task 5

Filter the data in the customers.csv file to retain only those customers whose age falls in the
range of 25 to 35. Save the filtered data in a new structure and analyze how many customers
belong to each city within this age range.

In [11]:
filtered_customers_age = customers_df[(customers_df['Age'] >= 25) & (customers_df['Age'] <= 35)]
filtered_customers_age.to_csv('filtered_customers.csv', index=False)
city_analysis = filtered_customers_age['City'].value_counts()
print(city_analysis)

City
Houston        11
Phoenix         8
New York        7
Los Angeles     7
Chicago         7
Name: count, dtype: int64

# TASK 6

Merge the customers.csv and sales.csv datasets on CustomerID. From the merged
dataset:
• Identify the city that generated the highest total sales.
• Find the product with the most units sold.

In [ ]:

merged_df['DiscountedAmount'] = merged_df['Amount'] * 0.9 

total_sales_by_city = merged_df.groupby('City', as_index=False)['DiscountedAmount'].sum()

highest_sales_city = total_sales_by_city.loc[total_sales_by_city['DiscountedAmount'].idxmax()]
print(f"City with the highest total sales: {highest_sales_city['City']} (Total Sales: {highest_sales_city['DiscountedAmount']})")

total_units_sold_by_product = merged_df.groupby('Product', as_index=False)['UnitsSold'].sum()

most_sold_product = total_units_sold_by_product.loc[total_units_sold_by_product['UnitsSold'].idxmax()]
print(f"Product with the most units sold: {most_sold_product['Product']} (Total Units Sold: {most_sold_product['UnitsSold']})")

# Task 7

Explore the merged dataset to derive insights:
• Display the unique values in the City and Product columns.
• Calculate the mean and median of the Amount column.

In [15]:
unique_cities = merged_df['City'].unique()
unique_products = merged_df['Product'].unique()
print(f"Unique Cities: {unique_cities}")
print(f"Unique Products: {unique_products}")

mean_amount = merged_df['Amount'].mean()
median_amount = merged_df['Amount'].median()
print(f"Mean Amount: {mean_amount}")
print(f"Median Amount: {median_amount}")

Unique Cities: ['New York' 'Los Angeles' 'Chicago' 'Houston' 'Phoenix']
Unique Products: ['Laptop' 'Smartphone' 'Tablet' 'Headphones' 'Monitor']
Mean Amount: 800.0
Median Amount: 800.0